body {
    padding: 2%;
}

.panel {
    padding: 1%;
}
.container-custom{
  margin-bottom:20px;
}

#app{
  width:100%;
  overflow-x:hidden;
}
.icon-twt{
  font-size:26px;
  margin-right: 3px;
}
.custom-input, .custom-item img, .custom-item a{
  margin-right:10px;
}
.profile-box{
  min-height: 100px;
}
.feed-box{
  min-height: 500px;
}
.logo{
  color:#1DA1F2;
font-size: 30px;
}
