body {
  font-size: 14px;
}

.panel {
    padding: 1%;
}
.container-custom{
  margin-bottom:20px;
}

.icon-twt{
  font-size:20px;
  margin-right: 4px;
}
.custom-input, .custom-item img, .custom-item a{
  margin-right:10px;
}

a.custom-nav-item:hover{
  color:#0084B4;
}

.profile-box{
padding:0;
}
.profile-box .user-pic img{
  border: 2px solid #fff;
  border-radius:7px;
  position:relative;
  top:-20px;
  left:15px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
}
.feed-box{

}
.logo{
color:#1DA1F2;
font-size: 30px;
}
.profile-background img{
  height:80px;
}
p.lead{
  font-weight:600;
  font-size:16px
  line-height:1.2;
}
span.small{
  font-weight:normal;
  font-size:11px;
}
.user-info{
  line-height: 1;
  position:relative;
  top:-55px;
  left:78px;
}
.profile-stats{
  position:relative;
  top:-40px;
  left:20px;
}
.profile-stats ul li {
  display: inline-block;
  padding:10px;
}
.stats-label{
  display:block;
  color: #8899a6;
  font-size: 10px;
  letter-spacing: .02em;
  overflow: hidden;
  text-transform: uppercase;
}
.stats-number{
  display:block;
  font-size: 18px;
  font-weight: 500;
  padding-top: 3px;
  color:#0084B4;
  text-align:center;
}
